@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color:#181818
}
.layout{
  padding:  0 2rem;
  margin: 2.5rem;  
}
.container-navbar{
  align-items: center;
}
.container-body{
  align-items: center;
}
.name-title{ 
  font-size: 1.8rem;  
}
.navbar{  
  display: flex;
  flex-direction: row;
}
.navbar-item{
  padding: 5px;    
  opacity: 0.7;
}
.navbar-item:hover{
  text-decoration: underline  rgb(9, 245, 87);
  text-decoration-thickness: 0.2rem;
  opacity: 1.0;
}
.navbar-item:hover{
  text-decoration: underline  rgb(9, 245, 87);
  text-decoration-thickness: 0.2rem;
}
.navbar-item:hover{
  text-decoration: underline  rgb(9, 245, 87);
  text-decoration-thickness: 0.2rem;
}
.navbar-item:hover{
  text-decoration: underline  rgb(9, 245, 87);
  text-decoration-thickness: 0.2rem;
}


/* Seccion de introduccion */
.intro-me  h1{
  color: var(--font-color-heading);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  padding-top: 40px;
}
.intro-me p{
  padding-top: 20px;
}

.footer-content{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 70px;  
}

.post-item:hover{
  text-decoration: underline  rgb(63, 230, 63);
  text-decoration-thickness: 0.1rem;
}

.card{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
}
.blog-content{
  margin-bottom: 1.5rem;
}
.latest-post-title {  
  font-size: 1.5rem;
  font-weight: 700;
  
}
.latest-post{
  display: grid;
  column-gap: 2rem;
}


.wrapper-intro{
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.decoration-image{
  box-sizing: border-box;
  padding-left: 1rem;
}
.decoration-image .image-intro{
  max-width: 350px;
  height: auto;
}

.title > a{    
  background-color: red;
  border-bottom: 3px solid #df05c2;
}

.latest-post > a{
  margin-top: 10;
  border-bottom: 1px solid #393a3a;
}

.link-container{
  display: flex;
  gap:1rem;
  justify-content: space-between;
}
.link-container h3{
  font-size: 1.2rem;
  font-weight: 500;
}

.link-container time{
  color:rgba(253, 125, 4, 1);
  font-weight: 200;
}

.stack-content{
  border-color: #df05c2;
}
.stack-items{
  display: grid;
  gap: 1rem;  
  /* display: flex;
  flex-direction: row; */
}
.card-item{
  display: flex;
  flex-direction: row;
  border:1px solid #6b6b6b;     
  border-radius: 4px;
  padding: 5px;
}
@media (max-width: 480px) {
  .layout{
    padding:  0 1rem;
    margin: 1.5rem;  
  }

  .wrapper-intro{
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }  
  .decoration-image .image-intro{
    max-width: 100%;
    height: auto;
  }
  
}
@media(min-width: 1060px){
  .stack-items{
    grid-template-columns: repeat(3,1fr);
  }
  
}
